<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Car Reservation System</title>
 </head>
<body>
<script>

	  (function(){
	  debugger;
	  	window.location="/#paymentstatus?amount={{amount}}&pay_ref_no={{id}}&desc={{description}}&status={{status}}"
	  })();
	  </script>
</body>
</html>
