<div class="row header">
  <div class="col-md-4">
    <div class="h4 text-muted">Trip # EMVXEM</div>
    <div>
      <span class="text-muted">Pickup on</span> 
      Wed, 30 Dec 2015 at  11:30 am
    </div>
  </div>
</div>
<div class="row m-t-md">
  <div class="col-md-8">
    <div class="app-section">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-xs-6">
              <div class="text-muted small">Customer name</div>
              <div>Somaia Mohmed</div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="text-muted small">Phone</div>
              <div>2038591007</div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="text-muted small">Email</div>
              <div>somaiams@aol.com</div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="text-muted small">Account</div>
              <div></div>
            </div>
          </div>
          <div class="row m-t-sm">
            <div class="col-md-3 col-xs-6">
              <div class="text-muted small">Service</div>
              <div>Airport Roundtrip (From Airport 1st)</div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="text-muted small">Vehicle type</div>
              <div>SEDAN 1 to 2 Passenger</div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="text-muted small">Distance</div>
              <div>81.00 miles</div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="text-muted small">Flight #</div>
              <div>
                <small><i class="icon-plane"></i> ms 985</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>