<div class="container">
  <h2 class="noprint">TRIP #HZFYZZ ON SAT, 19 MAR 2016 AT 02:30 AM</h2>
</div>
<div id="exTab3" class="container"> 
  <ul class="nav nav-pills">
    <li class="active"><a  href="#1b" data-toggle="tab">Customer Details</a></li>
    <li><a href="#2b" data-toggle="tab">Addresses</a></li>
    <li><a href="#3b" data-toggle="tab">Invoice</a></li>
    <li><a href="#4a" data-toggle="tab">Trip Assignment</a></li>
  </ul>
  <div class="tab-content clearfix">
    <div class="tab-pane active" id="1b">
      <h3>Same as example 1 but we have now styled the tab's corner</h3>
    </div>
    <div class="tab-pane" id="2b">
      <h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab</h3>
    </div>
    <div class="tab-pane" id="3b">
      <h3>We applied clearfix to the tab-content to rid of the gap between the tab and the content</h3>
    </div>
    <div class="tab-pane" id="4b">
      <h3>We use css to change the background color of the content to be equal to the tab</h3>
    </div>
  </div>
</div>



<div class="row header">
  <div class="col-md-4">
    <div class="h4 text-muted">Trip # EMVXEM</div>
    <div>
      <span class="text-muted">Pickup on</span> 
      Wed, 30 Dec 2015 at  11:30 am
    </div>
  </div>
</div>
<div class="row m-t-md">
  <div class="col-md-8">
    <div class="app-section">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-xs-6">
              <div class="text-muted small">Customer name</div>
              <div>Somaia Mohmed</div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="text-muted small">Phone</div>
              <div>2038591007</div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="text-muted small">Email</div>
              <div>somaiams@aol.com</div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="text-muted small">Account</div>
              <div></div>
            </div>
          </div>
          <div class="row m-t-sm">
            <div class="col-md-3 col-xs-6">
              <div class="text-muted small">Service</div>
              <div>Airport Roundtrip (From Airport 1st)</div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="text-muted small">Vehicle type</div>
              <div>SEDAN 1 to 2 Passenger</div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="text-muted small">Distance</div>
              <div>81.00 miles</div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="text-muted small">Flight #</div>
              <div>
                <small><i class="icon-plane"></i> ms 985</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>