<div class="list-group-item  tight-list-group-item a-link order-list-group">
  <div class="row tight-row">
    <div class="col-md-1 col-sm-2 col-xs-3 small ">
      <div>Dec 26</div>
      <div>3:30AM</div>
    </div>
    <div class="col-md-2 col-sm-5 col-xs-5">
      <div class="small text-muted">Trip# KC2RE4</div>
      <div class="small">
        <a href="#orders/203925"> Sarah Vincent</a>
        <div class="nowrap text-muted"></div>
      </div>
    </div>
    <div class="col-md-4 col-sm-5 small col-xs-4">
      <div class="nowrap">
        <span class="text-bdold text-mudted ldabel ladbel-default">To Airport</span>
        <!-- show in some specific condition <span class="text-mudted"> - 0.0 hour(s)</span> -->
        <span class="text-muted"> with </span>
        <span class="text-bdold text-mudted labdel ladbel-default">FULL-SIZE SUV Up to 6 Passenger</span>
      </div>
      <div>
        <span class="text-mfuted"><i class="fa fa-plane"> </i>(DL) Delta Air Lines </span>
      </div>
      <div class="m-t-xs">
        <span class="label label-success">Confirmed</span>
        <span class="label label-info">Trip assigned</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-8 small">
      <div class="text-mudted">
        <i class="text-success fa fa-map-marker"></i>
        <!-- show if drop <i class="text-danger fa fa-map-marker"></i> -->
        <!-- show if stop<i class="text-info fa fa-map-marker"></i> -->
          115 Roseville Road, Westport
      </div>
      <div class="text-mudted">
        <!-- show if pickup <i class="text-success fa fa-map-marker"></i> -->
        <i class="text-danger fa fa-map-marker"></i>
        <!-- show if stop<i class="text-info fa fa-map-marker"></i> -->
          LaGuardia Airport
      </div>
      <ul class="nav nav-pills both-clear">
        <li class="m-r-md">
          <i class="fa fa-user"></i> ELKHOU OSAMA  NY ( SUV ) Chev 2015
        </li>
      </ul>
    </div>
    <div class="col-md-1 col-sm-4" >
      <span class="p-t-md total-row">
      <!-- show if payment outstanding -->
        <span class="text-bold">$254.00</span>
        <!-- if pending <span class="text-bold text-warning">$254.00</span> -->
        <!-- if paid<span class="text-bold text-success">$254.00</span> -->
        <br>
        <span class=""><i class="fa fa-credit-card"></i> </span>
      </span>
    </div>
  </div>
  <div style="display:none;" class="row tight-row small m-t-sm" >
    <div class="col-md-3 col-xs-6">
      <div class="text-muted">Phone</div>
       CELL 646-526-7890
    </div>
    <div class="col-md-3 col-xs-6">
      <div class="text-muted">Email</div>
        sajvincent@gmail.com
    </div>
    <div class="col-md-2 col-xs-4">
      <div class="text-muted">Passengers</div>
      <span>5</span>
    </div>
    <div class="col-md-2 col-xs-4">
      <div>
        <div class="text-muted">Hours</div>
          <span>0.0 hour(s)</span>
        </div>
        <div class="">
          <div class="text-muted">Distance</div>
          <span>47 miles</span>
        </div>
      </div>
      <div class="col-md-2 col-xs-4">
        <div class="text-muted">Payment status</div>
          Paid
        </div>
      </div>
      <div style="display:none;" class="row tight-row small m-t-sm" >
        <div class="col-md-2 col-xs-6 col-sm-3">
          <a href="/orders/203925" class="btn btn-default btn-sm btn-block">Go to trip <i class="fa fa-external-link"></i> </a>
        </div>
        <div class="col-md-2 col-xs-6 col-sm-3">
          <div class="btn-group btn-block">
            <button class="btn btn-block btn-sm btn-default dropdown-toggle" data-toggle="dropdown">Order status <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Unconfirmed</a></li>
              <li><a href="#">Confirmed</a></li>
              <li><a href="#">Completed</a></li>
              <li><a href="#">Cancelled</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-xs-6 col-sm-3">
          <div class="btn-group btn-block">
            <button class="btn btn-sm btn-default btn-block dropdown-toggle" data-toggle="dropdown">Trip status <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Pending</a></li>
              <li><a href="#">Enroute to pickup</a></li>
              <li><a href="#">Picked up</a></li>
              <li><a href="#">Dropped off</a></li>
              <li><a href="#">Trip completed</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-xs-6  col-sm-3">
          <div class="btn-group btn-block">
            <button class="btn btn-sm btn-default btn-block dropdown-toggle" data-toggle="dropdown">Assign to <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Driver...</a></li>
              <li><a href="#">Affiliate...</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-xs-6">
          <button class="btn btn-link"> close </button>
        </div>
      </div>
    </div>