  <ul class="nav nav-tabs" id="dashboard-menu">
    <li role="presentation" class="active">
      <a href="#dashboard">
        <i class="fa fa-home"></i>
        <span> Dashboard</span>
      </a>
    </li>
    <li role="presentation" class="">
      <a href="#reservations">
        <i class="fa fa-th-list"></i>
        <span>Reservations </span>
      </a>
    </li>
    <li role="presentation" class="dropdown">

    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-users"></i>
      <span>Customers</span> <i class="fa fa-chevron-down"></i>
    </a>
      
      <ul class="dropdown-menu">
        <li><a href="#customers">All customers</a></li>
        <li><a href="#customers?search_type=registered">Registered </a></li>
        <li><a href="#company_accounts">Corporate accounts</a></li>
        <li><a href="#master_invoices">Master invoices</a></li>
        <li><a href="#customers/new">New customer</a></li>
      </ul>
    </li>
    <li role="presentation" class="">
      <a href="#events">
        <i class="fa fa-calendar"></i>
        <span>Calendar</span>
      </a>
    </li>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-cog"></i>
        <span>Settings</span>
        <i class="fa fa-chevron-down"></i>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#companies/877">Company info</a></li>
        <li><a href="#home/setup_central">Website integration</a></li>
        <li><a href="#setup/rate_setup">Rate setup</a></li>
        <li><a href="#companies/877/reservation_settings">Reservation settings</a></li>
        <li><a href="#setup/mobile_settings">Mobile settings</a></li>
        <li><a href="#vehicle_types">Vehicle types</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#places">Airport list</a></li>
        <li><a href="#admin_users">Users &amp; drivers</a></li>
        <li><a href="#affiliates">Affiliates</a></li>
        <li><a href="#notification_templates">Email templates</a></li>
      </ul>
    </li>
    <li role="presentation" class="">
      <a href="#notifications">
        <i class="fa fa-envelope-o"></i>
        <span>Emails</span>
      </a>
    </li>
  </ul>
