<div class="row">
  <div class="span12">
    <div id="login-container">
      <div id="login-header">
        <h3>Forgot your password?</h3>
      </div>
      <div id="login-content" class="clearfix">
        <div class="inputs">
          <div class="control-group email optional">
            <label class="email optional control-label">Email</label>
            <div class="controls">
              <input autofocus="autofocus" class="form-control" id="user_email" />
            </div>
          </div>
          <div class="alert alert-danger" id="validation-error" style="display:none;"></div>
          <div class="control-group">
            <input class="btn btn-large btn-warning" value="Reset Password" id="resetPwdBtn" />
          </div>
        </div>
      </div> 
      <div id="login-extra">
        <a href="#signin">Sign In</a>
      </div>
    </div>
  </div>
</div>