<div class="row">
   <div class="span12">
         


<div id="signup-container">


      <div id="login-header">

        <h3>CT Ride 24 Sign up</h3>

      </div> <!-- /login-header -->

      <div id="login-content" class="clearfix">

        <form accept-charset="UTF-8" action="/accounts/create_profile" class="simple_form form-horizontal" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="erX/Vr2eFUYKcFS0xM4O2GMlgUs0gAJq0ywY2KSEj+8="></div>
            
            <div class="inputs">
              <div class="control-group email optional"><label class="email optional control-label" for="user_email">Email</label><div class="controls"><input autofocus="autofocus" class="string email optional form-control form-control" id="user_email" name="user[email]" placeholder="Email" size="50" type="email" value=""></div></div>
              <div class="control-group password optional"><label class="password optional control-label" for="user_password">Password</label><div class="controls"><input class="password optional form-control" id="user_password" name="user[password]" placeholder="Choose password" size="50" type="password"></div></div>
              <div class="control-group password required"><label class="password required control-label" for="user_password_confirmation"><abbr title="required">*</abbr> Password confirmation</label><div class="controls"><input class="password required form-control" id="user_password_confirmation" name="user[password_confirmation]" placeholder="Confirm password" required="required" size="50" type="password"></div></div>

              
                  <div class="control-group string required"><label class="string required control-label" for="user_customer_attributes_first_name"><abbr title="required">*</abbr> First name</label><div class="controls"><input class="string required form-control" id="user_customer_attributes_first_name" name="user[customer_attributes][first_name]" placeholder="First name" required="required" size="50" type="text"></div></div>
                  <div class="control-group string required"><label class="string required control-label" for="user_customer_attributes_last_name"><abbr title="required">*</abbr> Last name</label><div class="controls"><input class="string required form-control" id="user_customer_attributes_last_name" name="user[customer_attributes][last_name]" placeholder="Last name" required="required" size="50" type="text"></div></div>
                  <div class="control-group tel required"><label class="tel required control-label" for="user_customer_attributes_phone"><abbr title="required">*</abbr> Phone</label><div class="controls"><input class="string tel required form-control form-control" id="user_customer_attributes_phone" name="user[customer_attributes][phone]" placeholder="Phone" required="required" size="50" type="tel"></div></div>


              <div class="pull-right">
                <input class="btn btn btn-large btn-warning" name="commit" type="submit" value="Sign Up">
              </div>

            </div>

            <div class="actions">

            </div>
</form>
      </div> <!-- /login-content -->


      <div id="login-extra">
        <a href="/users/sign_in">Sign In</a>


      </div> <!-- /login-extra -->



</div> <!-- /login-wrapper -->




   </div>


  </div>