<div class="panel panel-default" style="background:#fff">
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="cusFtName form-control" class="col-sm-3 control-label">Customer Name</label>
        <div class="col-sm-9">
          <input id="custFName" placeholder="First Name" class="form-control col-sm-6" type="text" style="
    width: 45%;"/>
          <input id="custLName" placeholder="Last Name" class="form-control col-sm-6" type="text" style="
    width: 45%; margin-left: 10px;"/>
        </div>
      </div>
      <div class="form-group">
        <label for="custEmail" class="col-sm-3 control-label">Customer Email</label>
        <div class="col-sm-9">
          <input id="custEmail" type="email" placeholder="Email" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label for="custPhone" class="col-sm-3 control-label">Customer Phone</label>
        <div class="col-sm-9">
          <input id="custPhone" placeholder="Phone Number" class="form-control"/>
        </div>
      </div>
      <div class="form-group" style="padding-left: 42px;">
        <label class="radio-inline ">
          <input type="radio" name="inlineRadioOptions" id="passengerType1" value="option1"> I am the passenger
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="passengerType2" value="option2"> I am not the passenger
        </label>
        <label class="radio-inline ">
          <input type="radio" name="inlineRadioOptions" id="passengerType3" value="option3"> Add other passengers
        </label>
      </div>
      <div class="form-group">
        <label for="airline" class="col-sm-3 control-label">Flight Info</label>
        <div class="col-sm-9">
          <input id="airline" placeholder="Airline" class="form-control col-sm-6" type="text" style="
    width: 45%;"/>
          <input id="flightNumber" placeholder="Flight Number" class="form-control col-sm-6" type="text" style="
    width: 45%; margin-left: 10px;"/>
        </div>
      </div>
      <div class="form-group">
        <label for="specialNote" class="col-sm-3 control-label">Special Notes</label>
        <div class="col-sm-9">
          <textarea  id="specialNote" placeholder="Additional Info" class="form-control col-sm-12" type="text" style="
    width: 45%;"></textarea>
        </div>
      </div>
    </form>
  </div>
</div>
