<div class="row">
  <div class="col-md-6" id="main">
    <div class="panel panel-default" style="background:#fff">
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="selectService" class="col-sm-4 control-label">Select service</label>
            <div class="col-sm-8">
              <select id='selectService' class="form-control">
                <option value="to_airport" type='oneway'>To Airport</option>
                <option value="from_airport" type='oneway'>From Airport </option>
                <option value="roundtrip_to_airport" type='twoway'>Airport Roundtrip (to Airport 1st)</option>
                <option value="roundtrip_from_airport" type='twoway'>Airport Roundtrip (From Airport 1st)</option>
                <option value="one_way" type='oneway'>One-Way Transfer</option>
                <option value="to_train" type='oneway'>To Train station</option>
                <option value="from_train" type='oneway'>From Train station</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="passengersCount" class="col-sm-4 control-label">Passengers</label>
            <div class="col-sm-8">
              <select id='passengersCount' class="form-control">
                <option >1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="datepicker" class="col-sm-4 control-label">Pickup time</label>
            <div class="col-sm-8">
              <input type="text" id="datepicker" class="form-control">
            </div>
          </div>
          <div class="form-group pickup-auto ">
            <label for="pickupAtAuto" class="col-sm-4 control-label">Pickup At</label>
            <div class="col-sm-8">
               <input type="text" id="pickupAtAuto" class="form-control ">
            </div>
          </div>
          <div class="form-group pickup-fixed hide ">
            <label for="pickupAtFixed" class="col-sm-4 control-label">Pickup At</label>
            <div class="col-sm-8">
               <select id="pickupAtFixed" class="form-control ">
                  <option></option>
               </select>
            </div>
          </div>
          <div class="form-group dropoff-fixed ">
            <label for="dropoffAtFixed" class="col-sm-4 control-label">Dropoff At</label>
            <div class="col-sm-8">
               <select id="dropoffAtFixed" class="form-control ">
                  <option></option>
               </select>
            </div>
          </div>
          <div class="form-group dropoff-auto hide ">
            <label for="dropoffAtAuto" class="col-sm-4 control-label">Dropoff At</label>
            <div class="col-sm-8">
               <input type="text" id="dropoffAtAuto" class="form-control ">
            </div>
          </div>
          <hr class="roundtrip hide" style="border-top: 1px solid #CCC;"/>
          <div class="form-group roundtrip hide">
            <label for="returnDatepicker" class="col-sm-4 control-label">Return Pickup time</label>
            <div class="col-sm-8">
              <input type="text" id="returnDatepicker" class="form-control">
            </div>
          </div>
          <div class="form-group return-pickup-auto roundtrip hide">
            <label for="returnPickupAtAuto" class="col-sm-4 control-label">Return Pickup At</label>
            <div class="col-sm-8">
               <input type="text" id="returnPickupAtAuto" class="form-control">
            </div>
          </div>
          <div class="form-group return-pickup-fixed hide roundtrip">
            <label for="returnPickupAtFixed" class="col-sm-4 control-label">Return Pickup At</label>
            <div class="col-sm-8">
               <select id="returnPickupAtFixed" class="form-control">
                  <option></option>
               </select>
            </div>
          </div>
          <div class="form-group return-dropoff-fixed roundtrip hide">
            <label for="returnDropoffAtFixed" class="col-sm-4 control-label">Return Dropoff At</label>
            <div class="col-sm-8">
               <select id="returnDropoffAtFixed" class="form-control">
                  <option></option>
               </select>
            </div>
          </div>
          <div class="form-group return-dropoff-auto hide roundtrip">
            <label for="returnDropoffAtAuto" class="col-sm-4 control-label">Return Dropoff At</label>
            <div class="col-sm-8">
               <input type="text" id="returnDropoffAtAuto" class="form-control">
            </div>
          </div>
          <div class="form-group" style="padding-right:20px;">
            <a type="submit"  id="newCarSearch" class="btn btn-primary pull-right">View Rates</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default" style="background:#FFF">
      <div class="panel-body">
        <div id="map-container"  style="height:400px;"></div>
      </div>
    </div>
  </div>  
</div>
