<div class="blog-header">
  <h1 class="blog-title">&nbsp;</h1>
</div>
<div class="row">
  <div class="col-md-6" id="main">
    <div class="panel panel-default" style="background:#DFF0D8">
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="selectService" class="col-sm-4 control-label">Select service</label>
            <div class="col-sm-8">
              <select id='selectService' class="form-control">
                <option value="1">To Airport</option>
                <option value="2">From Airport </option>
                <option value="3">Airport Roundtrip (to Airport 1st)</option>
                <option value="4">Airport Roundtrip (From Airport 1st)</option>
                <option value="5">One-Way Transfer</option>
                <option value="6">To Train station</option>
                <option value="7">From Train station</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="passengersCount" class="col-sm-4 control-label">Passengers</label>
            <div class="col-sm-8">
              <select id='passengersCount' class="form-control">
                <option >1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="datepicker" class="col-sm-4 control-label">Pickup time</label>
            <div class="col-sm-8">
              <input type="text" id="datepicker" class="form-control">
            </div>
          </div>
          <div class="form-group pickup-auto">
            <label for="pickupAtAuto" class="col-sm-4 control-label">Pickup At</label>
            <div class="col-sm-8">
               <input type="text" id="pickupAtAuto" class="form-control">
            </div>
          </div>
          <div class="form-group pickup-fixed hide">
            <label for="pickupAtFixed" class="col-sm-4 control-label">Pickup At</label>
            <div class="col-sm-8">
               <input type="text" id="pickupAtFixed" class="form-control">
            </div>
          </div>
          <div class="form-group dropoff-fixed">
            <label for="dropoffAtFixed" class="col-sm-4 control-label">Dropoff At</label>
            <div class="col-sm-8">
               <input type="text" id="dropoffAtFixed" class="form-control">
            </div>
          </div>
          <div class="form-group dropoff-auto hide">
            <label for="dropoffAtAuto" class="col-sm-4 control-label">Dropoff At</label>
            <div class="col-sm-8">
               <input type="text" id="dropoffAtAuto" class="form-control">
            </div>
          </div>

          <div class="form-group roundtrip">
            <label for="returnDatepicker" class="col-sm-4 control-label">Pickup time</label>
            <div class="col-sm-8">
              <input type="text" id="returnDatepicker" class="form-control">
            </div>
          </div>
          <div class="form-group return-pickup-auto roundtrip">
            <label for="returnPickupAtAuto" class="col-sm-4 control-label">Pickup At</label>
            <div class="col-sm-8">
               <input type="text" id="returnPickupAtAuto" class="form-control">
            </div>
          </div>
          <div class="form-group return-pickup-fixed hide roundtrip">
            <label for="returnPickupAtFixed" class="col-sm-4 control-label">Pickup At</label>
            <div class="col-sm-8">
               <input type="text" id="returnPickupAtFixed" class="form-control">
            </div>
          </div>
          <div class="form-group return-dropoff-fixed roundtrip">
            <label for="returnDropoffAtFixed" class="col-sm-4 control-label">Dropoff At</label>
            <div class="col-sm-8">
               <input type="text" id="returnDropoffAtFixed" class="form-control">
            </div>
          </div>
          <div class="form-group return-dropoff-auto hide roundtrip">
            <label for="returnDropoffAtAuto" class="col-sm-4 control-label">Dropoff At</label>
            <div class="col-sm-8">
               <input type="text" id="returnDropoffAtAuto" class="form-control">
            </div>
          </div>
          <div class="form-group" style="padding-right:20px;">
            <button type="submit" class="btn btn-default pull-right">View Rates</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default" style="background:#DFF0D8">
      <div class="panel-body">
        <div id="map-container"  style="height:400px;"></div>
      </div>
    </div>
  </div>  
</div>
