<div class="row row-offcanvas row-offcanvas-right" style="margin-top:20px;">
  <div class="col-xs-12 col-sm-7" style="margin-right:20px;">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
    <div class="row"> 
      <nav class="navbar navbar-default" style="padding-top:13px;">
        <div class="col-md-4">SERVICE DETAILS</div>
        <div class="col-md-4">REQUEST DETAILS</div>
        <div class="col-md-4">CONFIRM</div>
      </nav>
    </div><!--/row-->
    <div class="row">
      
    </div><!--/row-->
    <div class="row" style="margin-bottom: 15px">
      <div class="col-md-12">Select a vehicle below to book your reservation</div>
    </div><!--/row-->
    <div class="row">
    {{#each this}}
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-3">
            <img src="https://www.filepicker.io/api/file/ZFDhVbT3TJC13fqZ8ofm/convert?w=174&amp;h=120&amp;fit=clip" width="174" height="120">
          </div>
          <div class="col-md-9">
            <h4>SEDAN 1 to 2 Passenger 2 Passengers</h4 >
            <p>4 Door Lincoln MKS, 3 Luggage and 1 carry-on allowed. Fair include Toll, Tax & Fuel, and Gratuity. We will charge extra $15.00 for pickups between 10 P.M to 6 A.M.</p>
            <button class="btn btn-primary pull-right">Reserve Now</button>
            </div>
        </div>
      </div>
    {{/each}}
      <div class="panel panel-default">
        <div class="panel-body">
          &nbsp;
        </div>
      </div>
    </div><!--/row-->
  </div><!--/.col-xs-12.col-sm-9-->

  <div class="col-xs-6 col-sm-4 sidebar-offcanvas sidebar-summary" >
    <div class="panel panel-default">
      <div class="panel-body" id="requestSummary">
        &nbsp;
      </div>
    </div>
  </div><!--/.sidebar-offcanvas-->
</div>